* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manjari';
}

body {
  background-color: #75be9a;
}

.main-header {
  background-color: white;
  height: 175px;
  border-radius: 6px;
  box-shadow: .5px .5px 5px lightslategray;
}

.primary-container {
  max-width: 1145px;
  margin: auto;
  height: 500px;
  margin-top: 30px;
}

.profile-badge {
  padding: 24px 0 0 30px;
}

.profile-image-container {
  float: left;
}

.profile-image {
  max-width: 125px;
}

.main-navigation {
  float: right;
}